@font-face {
  font-family: "P5hatty";
  src: url(../fonts/p5hatty.ttf);
}

@font-face {
  font-family: "earwig-factory";
  src: url(../fonts/earwig-factory.ttf);
}

:root {
  font-family: "P5hatty", sans-serif;
  text-shadow: 0.1rem 0.2rem #000;
}

html {
  background: white;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  z-index: -1000;
}

h1, h2, h3, span {
  margin: 0;
  color: white;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 8rem;
}

@media (max-width: 640px) {
  h1 {
    font-size: 8rem;
  }
}

h2, h3 {
  font-size: 3rem;
}

span {
  font-size: 6rem;
  padding: 0;
  margin: 0;
}

.background-image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: -1000;
}

.loading-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 100000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.loading-overlay img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 auto;
}

.loading-overlay.hide {
  opacity: 0;
}

.timeOfDay {
  opacity: 0;
  -webkit-transition: opacity 5s;
  -o-transition: opacity 5s;
  transition: opacity 5s;
}

.timeOfDay.night {
  opacity: 1;
  background: black;
}

.wrapper {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* now start the HUD grid */
.calendar-grid-container {
  position: relative;
  display: grid;
  border: 2px solid red;
  grid-template-columns: 180px 60px 0px 60px 72px 100px;
  grid-template-rows: 0px 0px 108px 0px;
  grid-gap: 0px;
  margin: 20px 0px 100px 0px;
}

@media (max-width: 640px) {
  .calendar-grid-container {
    grid-template-columns: 0px 60px 0px 60px 72px 100px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.month-base {
  background: url(../images/month-number-sprites.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0px;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  margin-top: 30px;
  z-index: 10;
  grid-column: 2;
  grid-row: 3;
}

.month-mid {
  background: url(../images/month-number-sprites.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0px;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  margin-top: 30px;
  z-index: 100;
  grid-column: 2;
  grid-row: 2;
}

.month-top {
  background: url(../images/month-number-sprites.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0px;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  margin-top: 30px;
  z-index: 1000;
  grid-column: 2;
  grid-row: 1;
}

.month-kanji {
  background: url(../images/monthKanji.png);
  width: 54px;
  height: 56px;
  z-index: 11;
  margin-top: 80px;
  grid-column: 3;
}

@media (max-width: 640px) {
  .month-kanji {
    display: none;
  }
}

.date-tens-top {
  background: url(../images/numbers_spritesheet_3.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  z-index: 1000;
  grid-column: 4;
  grid-row: 1;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-top: 0px;
}

.date-tens-mid {
  background: url(../images/numbers_spritesheet_3.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  z-index: 100;
  grid-column: 4;
  grid-row: 2;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-top: 0px;
}

.date-tens-base {
  background: url(../images/numbers_spritesheet_3.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  z-index: 10;
  grid-column: 4;
  grid-row: 3;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-top: 0px;
}

.date-ones-top {
  background: url(../images/numbers_spritesheet_3.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  z-index: 1000;
  grid-column: 5;
  grid-row: 1;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-top: -20px;
}

.date-ones-mid {
  background: url(../images/numbers_spritesheet_3.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  z-index: 100;
  grid-column: 5;
  grid-row: 2;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-top: -20px;
}

.date-ones-base {
  background: url(../images/numbers_spritesheet_3.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  z-index: 10;
  grid-column: 5;
  grid-row: 3;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-top: -20px;
}

.weekday-sprite {
  background: url(../images/weekday_sprites.png);
  background-position: 0px 0px;
  width: 191px;
  height: 74px;
  padding: 0px;
  margin: 0px;
  z-index: 1000;
  grid-column: 4;
  grid-row: 4;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-top: 0px;
  margin-top: -20px;
  margin-left: 10px;
}

.year-sprite {
  background: url(../images/currentYear.png);
  width: 195px;
  height: 105px;
}

@media (max-width: 640px) {
  .year-sprite {
    display: none;
  }
}

.weather-card {
  background: url(../images/weather-card-sprite.png);
  width: 100px;
  height: 99px;
  grid-column: 6;
  grid-row: 1;
  margin-top: -10px;
  margin-left: -4px;
}

.current-weather-sprite {
  background: url(../images/weather_spritesheet3.png);
  width: 75px;
  height: 72px;
  z-index: 1000;
  grid-column: 6;
  grid-row: 2;
  margin-left: 8px;
  margin-top: -2px;
  background-color: black;
  mix-blend-mode: difference;
}

.weather-sprite {
  background: url(../images/weather_spritesheet3.png);
  width: 75px;
  height: 72px;
  z-index: 1000;
  margin: 0 auto;
}

/* weekday container */
/* todo: will relegate this to an object later so we can display multiple */
.weather-container {
  border: 2px solid lime;
  display: grid;
  text-align: center;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1000px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.weather-container > * {
  border: 1px solid yellow;
}

.degrees {
  display: grid;
  grid-template-columns: auto auto;
  /*border: 2px solid yellow;*/
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
}

#city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid cyan;
  color: white;
  font-family: "earwig-factory", sans-serif;
  text-transform: lowercase;
  font-size: 5rem;
  text-shadow: 0.1rem 0.5rem #000;
}

@media (max-width: 640px) {
  #city {
    font-size: 2.5rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
}

.clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  border: 1px solid orange;
  /* place all digits into separate grid spaces */
}

@media (max-width: 640px) {
  .clock {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
}

.clock #time {
  font-family: "earwig-factory", sans-serif;
  color: white;
}

#header-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 600px;
  margin: 20px 20px;
  padding: 10px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.5);
}

#header-flexbox > * {
  margin: -5px;
}

#weekday-container {
  position: relative;
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  border: 2px solid yellow;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* repeat 4 columns per row */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.weekday {
  height: 200px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: grid;
  border: 1px solid cyan;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  grid-template-columns: 0px 60px 0px 60px 72px 100px;
  grid-template-rows: 0px 0px 108px 0px;
  margin: 0;
  grid-gap: 0px;
}
