@font-face {
  font-family: "P5hatty";
  src: url(../fonts/p5hatty.ttf);
}

@font-face {
  font-family: "earwig-factory";
  src: url(../fonts/earwig-factory.ttf);
}

.month-base {
  background: url(../images/month-number-sprites.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0px;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  margin-top: 30px;
  position: relative;
  z-index: 10;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

.month-mid {
  background: url(../images/month-number-sprites.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0px;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  margin-top: 30px;
  position: relative;
  z-index: 100;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.month-top {
  background: url(../images/month-number-sprites.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0px;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  margin-top: 30px;
  position: relative;
  z-index: 10001;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.date-tens-top {
  background: url(../images/numbers_spritesheet_3.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  position: relative;
  z-index: 10001;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-top: 0px;
}

.date-tens-mid {
  background: url(../images/numbers_spritesheet_3.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  position: relative;
  z-index: 100;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  grid-row: 2;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-top: 0px;
}

.date-tens-base {
  background: url(../images/numbers_spritesheet_3.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  position: relative;
  z-index: 10;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  grid-row: 3;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-top: 0px;
}

.date-ones-top {
  background: url(../images/numbers_spritesheet_3.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  position: relative;
  z-index: 10001;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 1;
  grid-row: 1;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-top: -20px;
}

.date-ones-mid {
  background: url(../images/numbers_spritesheet_3.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  position: relative;
  z-index: 100;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 2;
  grid-row: 2;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-top: -20px;
}

.date-ones-base {
  background: url(../images/numbers_spritesheet_3.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  position: relative;
  z-index: 10;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 3;
  grid-row: 3;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-top: -20px;
}

.weekday-sprite {
  background: url(../images/weekday_sprites.png);
  background-position: 0px 0px;
  width: 191px;
  height: 74px;
  padding: 0px;
  margin: 0px;
  position: relative;
  z-index: 10001;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 4;
  grid-row: 4;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-top: 0px;
  margin-top: -20px;
  margin-left: 10px;
}

.weather-card {
  background: url(../images/weather-card-sprite.png);
  width: 100px;
  height: 99px;
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-top: -10px;
  margin-left: -8px;
}

.current-weather-sprite {
  background: url(../images/weather_spritesheet4.png);
  width: 75px;
  height: 72px;
  position: relative;
  z-index: 1000;
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 2;
  grid-row: 2;
  margin-left: 6px;
  margin-top: -2px;
}

.maxmin-temp-container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10px 14px 18px 20px)[2];
  grid-template-columns: repeat(2, 10px 14px 18px 20px);
  -ms-grid-rows: 12px 100px;
  grid-template-rows: 12px 100px;
  margin-left: 40px;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  position: relative;
  z-index: -1000;
}

.maxmin-temp-container p {
  color: white;
}

.max-min-background {
  background: url(../images/max-min-bg.png);
  display: -ms-grid;
  display: grid;
  width: 141px;
  height: 55px;
  z-index: -1000;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-top: -4px;
}

.max-temp-sign {
  background: url(../images/degrees-small-red-2.png);
  width: 32px;
  height: 32px;
  z-index: 100;
  -ms-grid-row: 2;
  grid-row: 2;
  background-position: 0px 0px;
  -ms-grid-column: 1;
  grid-column: 1;
  background-position: -352px 0px;
}

.max-temp-tens {
  background: url(../images/degrees-small-red-2.png);
  width: 32px;
  height: 32px;
  z-index: 100;
  -ms-grid-row: 2;
  grid-row: 2;
  background-position: 0px 0px;
  -ms-grid-column: 2;
  grid-column: 2;
}

.max-temp-ones {
  background: url(../images/degrees-small-red-2.png);
  width: 32px;
  height: 32px;
  z-index: 100;
  -ms-grid-row: 2;
  grid-row: 2;
  background-position: 0px 0px;
  -ms-grid-column: 3;
  grid-column: 3;
}

.max-temp-degrees {
  background: url(../images/degrees-small-red-2.png);
  width: 32px;
  height: 32px;
  z-index: 100;
  -ms-grid-row: 2;
  grid-row: 2;
  background-position: 0px 0px;
  -ms-grid-column: 4;
  grid-column: 4;
  background-position: -320px 0px;
}

.min-temp-sign {
  background: url(../images/degrees-small-blue-2.png);
  width: 32px;
  height: 32px;
  z-index: 100;
  -ms-grid-row: 2;
  grid-row: 2;
  background-position: 0px 0px;
  -ms-grid-column: 5;
  grid-column: 5;
  background-position: -352px 0px;
}

.min-temp-tens {
  background: url(../images/degrees-small-blue-2.png);
  width: 32px;
  height: 32px;
  z-index: 100;
  -ms-grid-row: 2;
  grid-row: 2;
  background-position: 0px 0px;
  -ms-grid-column: 6;
  grid-column: 6;
}

.min-temp-ones {
  background: url(../images/degrees-small-blue-2.png);
  width: 32px;
  height: 32px;
  z-index: 100;
  -ms-grid-row: 2;
  grid-row: 2;
  background-position: 0px 0px;
  -ms-grid-column: 7;
  grid-column: 7;
}

.min-temp-degrees {
  background: url(../images/degrees-small-blue-2.png);
  width: 32px;
  height: 32px;
  z-index: 100;
  -ms-grid-row: 2;
  grid-row: 2;
  background-position: 0px 0px;
  -ms-grid-column: 8;
  grid-column: 8;
  background-position: -320px 0px;
}

#current-temp-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 60px;
  grid-template-rows: 60px 60px;
  -ms-grid-columns: 30px 44px 20px 50px 32px;
  grid-template-columns: 30px 44px 20px 50px 32px;
  z-index: -10;
  margin-top: 32px;
  margin-left: 16px;
}

@media (max-width: 640px) {
  #current-temp-container {
    -ms-grid-row: 3;
    grid-row: 3;
    margin-top: -24px;
    margin-left: 0px;
  }
}

#current-temp-background {
  background: url(../images/current-temp-bg.png);
  grid-column: 1/-1;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-top: 48px;
  margin-left: -24px;
  width: 333px;
  height: 121px;
}

#current-temp-sign {
  background: url(../images/degreesBig2.png);
  width: 72px;
  height: 96px;
  z-index: 100;
  -ms-grid-row: 2;
  grid-row: 2;
  background-position: 0px 0px;
  -ms-grid-column: 1;
  grid-column: 1;
  background-position: -832px 0px;
}

#current-temp-tens {
  background: url(../images/degreesBig2.png);
  width: 72px;
  height: 96px;
  z-index: 100;
  -ms-grid-row: 2;
  grid-row: 2;
  background-position: 0px 0px;
  -ms-grid-column: 2;
  grid-column: 2;
}

#current-temp-ones {
  background: url(../images/degreesBig2.png);
  width: 72px;
  height: 96px;
  z-index: 100;
  -ms-grid-row: 2;
  grid-row: 2;
  background-position: 0px 0px;
  -ms-grid-column: 3;
  grid-column: 3;
}

#current-temp-decimal {
  background: url(../images/degreesBig2.png);
  width: 72px;
  height: 96px;
  z-index: 100;
  -ms-grid-row: 2;
  grid-row: 2;
  background-position: 0px 0px;
  background-position: -768px 0px;
  -ms-grid-column: 4;
  grid-column: 4;
  z-index: 1000;
}

#current-temp-tenths {
  background: url(../images/degreesBig2.png);
  width: 72px;
  height: 96px;
  z-index: 100;
  -ms-grid-row: 2;
  grid-row: 2;
  background-position: 0px 0px;
  -ms-grid-column: 5;
  grid-column: 5;
}

#current-temp-degrees {
  background: url(../images/degreesBig2.png);
  width: 72px;
  height: 96px;
  z-index: 100;
  -ms-grid-row: 2;
  grid-row: 2;
  background-position: 0px 0px;
  background-position: -704px 0px;
  -ms-grid-column: 6;
  grid-column: 6;
}

:root {
  font-family: "P5hatty", sans-serif;
  text-shadow: 0.1rem 0.2rem #000;
  --zoomVar: 1;
}

@media (max-width: 480px) {
  :root {
    --zoomVar: 0.7;
  }
}

html {
  background: black;
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  z-index: -1000;
}

h1, h2, h3 {
  margin: 0;
  color: white;
  font-family: "earwig-factory", "P5hatty", sans-serif;
  font-size: 3em;
  line-height: 0.8;
}

h4, h5, h6 {
  font-size: 2em;
}

p {
  font-size: 1em;
  color: white;
  margin: 0.5em 0em;
  line-height: 1;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.background-image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: -1000;
}

#clouds-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: -1000;
}

.background-image.screenshake {
  -webkit-animation: shake 0.2s;
  animation: shake 0.2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(4px, 4px) rotate(2deg);
    transform: translate(4px, 4px) rotate(2deg);
  }
  10% {
    -webkit-transform: translate(-3px, -3px) rotate(-2deg);
    transform: translate(-3px, -3px) rotate(-2deg);
  }
  20% {
    -webkit-transform: translate(-3px, 1px) rotate(1deg);
    transform: translate(-3px, 1px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 3px) rotate(0deg);
    transform: translate(3px, 3px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(2px, -2px) rotate(1deg);
    transform: translate(2px, -2px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-2px, 1px) rotate(0deg);
    transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
    transform: translate(2px, 1px) rotate(0deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(0deg);
    transform: translate(-1px, -1px) rotate(0deg);
  }
  90% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -1px) rotate(0deg);
    transform: translate(1px, -1px) rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(4px, 4px) rotate(2deg);
    transform: translate(4px, 4px) rotate(2deg);
  }
  10% {
    -webkit-transform: translate(-3px, -3px) rotate(-2deg);
    transform: translate(-3px, -3px) rotate(-2deg);
  }
  20% {
    -webkit-transform: translate(-3px, 1px) rotate(1deg);
    transform: translate(-3px, 1px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 3px) rotate(0deg);
    transform: translate(3px, 3px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(2px, -2px) rotate(1deg);
    transform: translate(2px, -2px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-2px, 1px) rotate(0deg);
    transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
    transform: translate(2px, 1px) rotate(0deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(0deg);
    transform: translate(-1px, -1px) rotate(0deg);
  }
  90% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -1px) rotate(0deg);
    transform: translate(1px, -1px) rotate(0deg);
  }
}

.loading-overlay {
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 100000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.loading-overlay img {
  width: 640px;
  height: 360px;
}

.loading-overlay #loading-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  color: #9b9b9b;
}

.loading-overlay.hide {
  opacity: 0;
}

.timeOfDay {
  opacity: 0;
  -webkit-transition: opacity 5s;
  -o-transition: opacity 5s;
  transition: opacity 5s;
}

.timeOfDay.night {
  opacity: 1;
  background: black;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

@media (max-width: 860px) {
  #wrapper {
    margin-bottom: 70px;
  }
}

/* now start the HUD grid */
.todays-weather-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 180px;
  grid-template-columns: 150px 180px;
  -ms-grid-rows: 200px 0px 80px;
  grid-template-rows: 200px 0px 80px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -1000px;
  -webkit-transition: margin 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -o-transition: margin 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: margin 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -webkit-transform: scale(calc(1 * var(--zoomVar)));
  -ms-transform: scale(calc(1 * var(--zoomVar)));
  transform: scale(calc(1 * var(--zoomVar)));
  -moz-transform: scale(calc(1 * var(--zoomVar)));
}

@media (max-width: 640px) {
  .todays-weather-container {
    -ms-grid-columns: 150px;
    grid-template-columns: 150px;
    -ms-grid-rows: 200px 0px 150px;
    grid-template-rows: 200px 0px 150px;
  }
}

.weekday {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 190px 0px;
  grid-template-rows: 190px 0px;
  margin-top: -1200px;
  -webkit-transition: margin 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -o-transition: margin 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: margin 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.mainBounceDown {
  margin-top: -50px;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.mainBounceDown:hover {
  -webkit-transform: scale(calc(1.2 * var(--zoomVar)));
  -ms-transform: scale(calc(1.2 * var(--zoomVar)));
  transform: scale(calc(1.2 * var(--zoomVar)));
  -moz-transform: scale(calc(1.2 * var(--zoomVar)));
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  z-index: 10001;
}

.datebox {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0px 0px 60px 62px 70px;
  grid-template-columns: 0px 0px 60px 62px 70px;
  -ms-grid-rows: 0px 0px 108px 0px;
  grid-template-rows: 0px 0px 108px 0px;
  -ms-grid-rows: 0px 0px 108px 0px;
  grid-template-rows: 0px 0px 108px 0px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-gap: 0px;
  margin: 20px 0px 100px 0px;
}

#week-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* repeat 4 columns per row */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 860px) {
  #week-container {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.bounceDown {
  margin-top: 0px;
}

@media (min-width: 860px) {
  .bounceDown:nth-child(1) {
    margin-top: -80px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .bounceDown:nth-child(2) {
    margin-top: -30px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }
  .bounceDown:nth-child(3) {
    margin-top: -50px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .bounceDown:nth-child(4) {
    margin-top: -100px;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    -moz-transform: scale(0.6);
    -webkit-transition-delay: 0.35s;
    -o-transition-delay: 0.35s;
    transition-delay: 0.35s;
  }
}

.bounceDown:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  z-index: 10001;
}

#header-flexbox {
  -webkit-transition: zoom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: zoom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: zoom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -moz-transform: scale(0);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 0px auto 50px;
  grid-template-rows: 0px auto 50px;
  max-width: 600px;
  margin: 20px 20px;
  padding: 10px;
  margin-bottom: 20px;
}

#header-flexbox > * {
  margin: -5px;
}

@media (max-width: 560px) {
  #header-flexbox {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
}

#header-flexbox.bounceIn {
  -webkit-transform: scale(calc(1 * var(--zoomVar)));
  -ms-transform: scale(calc(1 * var(--zoomVar)));
  transform: scale(calc(1 * var(--zoomVar)));
  -moz-transform: scale(calc(1 * var(--zoomVar)));
}

#header-background {
  -ms-grid-row: 1;
  grid-row: 1;
  background: url(../images/time-town-background.png);
  background-repeat: no-repeat;
  width: 427px;
  height: 161px;
  margin-top: 12px;
}

@media (max-width: 480px) {
  #header-background {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    -moz-transform: scale(0.9);
  }
}

#city {
  color: white;
  font-family: "earwig-factory", sans-serif;
  text-transform: lowercase;
  font-size: 5rem;
  text-shadow: 0.1rem 0.5rem #000;
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
  z-index: 100;
}

#clock {
  margin-left: 50px;
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
  z-index: 100;
}

#footer {
  z-index: 10000;
  padding-bottom: 0px;
  margin-top: 50px;
  position: fixed;
  bottom: 0;
  height: 10vh;
  height: auto fit;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: top;
  align-content: top;
  text-align: center;
  width: 100%;
  background: black;
}
