@font-face {
  font-family: "P5hatty";
  src: url(../fonts/p5hatty.ttf);
  /*
src:
url("css/fonts/Harabara.woff") format("woff"),
url("css/fonts/Harabara.otf") format("opentype"),
url("css/fonts/Harabara.svg#filename") format("svg");*/
}

@font-face {
  font-family: "earwig-factory";
  src: url(../fonts/earwig-factory.ttf);
}

:root {
  font-family: "P5hatty", sans-serif;
  text-shadow: 0.1rem 0.2rem #000;
}

html {
  background: white;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  z-index: -1000;
}

h1, h2, h3, span {
  margin: 0;
  color: white;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 16rem;
}

@media (max-width: 640px) {
  h1 {
    font-size: 8rem;
  }
}

h2, h3 {
  font-size: 3rem;
}

span {
  font-size: 6rem;
}

.background-image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: -1000;
}

.loading-overlay {
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 100000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

.loading-overlay img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 auto;
}

.loading-overlay.hide {
  opacity: 0;
}

.timeOfDay {
  opacity: 0;
  -webkit-transition: opacity 5s;
  -o-transition: opacity 5s;
  transition: opacity 5s;
}

.timeOfDay.night {
  opacity: 1;
  background: black;
}

.wrapper {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* now start the HUD grid */
.calendar-grid-container {
  position: relative;
  display: grid;
  border: 10px solid red;
  grid-template-columns: 180px 60px 24px 70px 100px;
  grid-template-rows: 0px 0px 120px 0px;
  grid-gap: 0px;
}

@media (max-width: 640px) {
  .calendar-grid-container {
    grid-template-columns: 0px 60px 24px 70px 100px;
  }
}

.month-base {
  background: url(../images/month-number-sprites.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0px;
  z-index: 10;
  grid-column: 2;
  grid-row: 3;
}

.month-mid {
  background: url(../images/month-number-sprites.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0px;
  z-index: 100;
  grid-column: 2;
  grid-row: 2;
}

.month-top {
  background: url(../images/month-number-sprites.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0px;
  z-index: 1000;
  grid-column: 2;
  grid-row: 1;
}

.month-kanji {
  background: url(../images/monthKanji.png);
  width: 54px;
  height: 56px;
  z-index: 1000;
  margin-top: 60px;
  grid-column: 3;
}

.date-tens-top {
  background: url(../images/numbers_spritesheet_2.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  z-index: 1000;
  grid-column: 4;
  grid-row: 1;
}

.date-tens-mid {
  background: url(../images/numbers_spritesheet_2.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  z-index: 100;
  grid-column: 4;
  grid-row: 2;
}

.date-tens-base {
  background: url(../images/numbers_spritesheet_2.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  z-index: 10;
  grid-column: 4;
  grid-row: 3;
}

.date-ones-top {
  background: url(../images/numbers_spritesheet_2.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  z-index: 1000;
  grid-column: 5;
}

.date-ones-mid {
  background: url(../images/numbers_spritesheet_2.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  z-index: 100;
  grid-column: 5;
  grid-row: 2;
}

.date-ones-base {
  background: url(../images/numbers_spritesheet_2.png);
  background-position: 0px 0px;
  width: 100px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  z-index: 10;
  grid-column: 5;
  grid-row: 3;
}

.weekday-sprite {
  background: url(../images/weekday_sprites.png);
  background-position: 0px 0px;
  width: 191px;
  height: 74px;
  padding: 0px;
  margin: 0px;
  grid-column: 4;
  grid-row: 4;
  z-index: 1000;
}

.year-sprite {
  background: url(../images/currentYear.png);
  width: 195px;
  height: 105px;
}

@media (max-width: 640px) {
  .year-sprite {
    display: none;
  }
}

/* weekday container */
/* todo: will relegate this to an object later so we can display multiple */
.weekday-container {
  position: relative;
  display: grid;
  grid-template-columns: 72px 72px;
  grid-template-rows: 0px 0px 108px 100px;
  border: 5px solid yellow;
}

.container {
  border: 2px solid red;
  display: grid;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 25px 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.container h2 {
  color: white;
  font-family: "earwig-factory", sans-serif;
  font-size: 6rem;
  text-shadow: 0.1rem 0.5rem #000;
}

@media (max-width: 640px) {
  .container h2 {
    font-size: 3rem;
  }
}

.degrees {
  display: grid;
  grid-template-columns: auto auto;
  /*border: 2px solid yellow;*/
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
}

.weather-sprite {
  background: url(../images/weather_spritesheet3.png);
  width: 75px;
  height: 72px;
  z-index: 1000;
  margin: 0 auto;
}

.clock {
  display: grid;
  grid-template-columns: repeat(10 10 3);
  /* place all digits into separate grid spaces */
  border: 2px solid lime;
}
