@mixin sprite_position($spriteWidth, $spriteHeight) {
    background-position: 0px 0px;
    width: #{$spriteWidth}px;
    height: #{$spriteHeight}px;
    padding: 0px;
    margin: 0px;
}

@mixin date-ones-position(){
    transform: rotate(-10deg);
    margin-top: -20px;
}

@mixin date-tens-position(){
    transform: rotate(-10deg);
    margin-top: 0px;
}

@mixin date-month-position(){
    transform: rotate(-20deg);
    margin-top: 30px;
}

@mixin zoom($amount){
    zoom: (#{$amount});
    -moz-transform: scale((#{$amount}));
}


@mixin backgroundWithScreenshake(){
    width: 110vw;
    height: 110vh;
    max-width: 110%;
    top: 50%;
    left: 50%;
    margin-top: -50vh; // when we screenshake, we'll move this between 50 and 55
    margin-left: -55vw; /* Negative half of width. */
}
