@import "variables";
@import "mixins";

@font-face {
    font-family: "P5hatty";
    src: url(../fonts/p5hatty.ttf);
}

@font-face {
    font-family: "earwig-factory";
    src: url(../fonts/earwig-factory.ttf);
}

:root {
    font-family: "P5hatty", sans-serif;
    text-shadow: 0.1rem 0.2rem #000;
}

html {
    background: white;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    z-index: $z-background;
}

h1, h2, h3, span {
    margin: 0;
    color: white;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 8rem;
    @media (max-width: 640px) {
        font-size: 8rem;
    }
}

h2,h3 {
    font-size: 3rem;
}

span {
    font-size: 6rem;
    padding: 0;
    margin: 0;
}
.background-image {
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width:100%;
    margin: 0px;
    padding: 0px;
    z-index: $z-background;
}

.loading-overlay{
    // in IE we never make it past this screen, opacity doesnt work?
    opacity: $loadingScreen; // set to 0 while testing to skip loader
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;
    img {
        display: flex;
        position: relative;
        margin: 0 auto;
        //opacity: 20%;
    }
}

.loading-overlay.hide{
    opacity: 0;
}

.timeOfDay {
    opacity: 0;
    -webkit-transition: opacity 5s;
    -o-transition: opacity 5s;
    transition: opacity 5s;
}

.timeOfDay.night {
    opacity: 1;
    background: black;
}

.wrapper {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* now start the HUD grid */
.calendar-grid-container {
    position: relative;
    display: grid;
    border: 2px solid red;
    // the 0px is where the kanji symbol used to be, removed to alleviate clutter
    grid-template-columns: 180px 60px 0px 60px 72px 100px;
    grid-template-rows: 0px 0px 108px 0px;
    //grid-template-rows: repeat(200px); // test where elements are positioned
    grid-gap: 0px;
    //padding: 0px 0px 100px 0px;
    margin: 20px 0px 100px 0px;

    @media (max-width: 640px) {
        grid-template-columns: 0px 60px 0px 60px 72px 100px;//180px 64px 72px 50px;
        justify-content: center;
    }

    > * {
        // debug: show element positions
    	//border: 2px solid yellow;
    }
}

.month-base {
    background: url(../images/month-number-sprites.png);
    @include sprite_position(120,120);
    @include date-month-position;
    z-index: $z-base;
    grid-column: 2;
    grid-row: 3;
}

.month-mid {
    background: url(../images/month-number-sprites.png);
    @include sprite_position(120,120);
    @include date-month-position;
    z-index: $z-mid;
    grid-column: 2;
    grid-row: 2;
}

.month-top {
    background: url(../images/month-number-sprites.png);
    @include sprite_position(120,120);
    @include date-month-position;
    z-index: $z-top;
    grid-column: 2;
    grid-row: 1;
}

.month-kanji {
    background: url(../images/monthKanji.png);
    width: 54px;
    height: 56px;
    z-index: ($z-base + 1);
    margin-top: 80px;
    grid-column: 3;
    @media (max-width: 640px) {
        display: none;
    }
}

.date-tens-top {
    background: url(../images/numbers_spritesheet_3.png);
    @include sprite_position(100,150);
    z-index: $z-top;
    grid-column: 4;
    grid-row: 1;
    @include date-tens-position;
}

.date-tens-mid {
    background: url(../images/numbers_spritesheet_3.png);
    @include sprite_position(100,150);
    z-index: $z-mid;
    grid-column: 4;
    grid-row: 2;
    @include date-tens-position;
}

.date-tens-base {
    background: url(../images/numbers_spritesheet_3.png);
    @include sprite_position(100,150);
    z-index: $z-base;
    grid-column: 4;
    grid-row: 3;
    @include date-tens-position;
}

.date-ones-top {
    background: url(../images/numbers_spritesheet_3.png);
    @include sprite_position(100,150);
    z-index: $z-top;
    grid-column: 5;
    grid-row: 1;
    @include date-ones-position;
}

.date-ones-mid {
    background: url(../images/numbers_spritesheet_3.png);
    @include sprite_position(100,150);
    z-index: $z-mid;
    grid-column: 5;
    grid-row: 2;
    @include date-ones-position;

}

.date-ones-base {
  background: url(../images/numbers_spritesheet_3.png);
  @include sprite_position(100,150);
  z-index: $z-base;
  grid-column: 5;
  grid-row: 3;
  @include date-ones-position;
}

.weekday-sprite {
  background: url(../images/weekday_sprites.png);
  @include sprite_position(191,74);
  z-index: $z-top;
  grid-column: 4;
  grid-row: 4;
  @include date-tens-position;
  margin-top: -20px;
  margin-left: 10px;
}

.year-sprite {
    background: url(../images/currentYear.png);
    width: 195px;
    height: 105px;
    @media (max-width: 640px)
    {
            display: none;
    }
}

.weather-card {
    background: url(../images/weather-card-sprite.png);
    width: 100px;
    height: 99px;
    grid-column: 6;
    grid-row: 1;
    margin-top: -10px;
    margin-left: -8px;
}

.current-weather-sprite {
    background: url(../images/weather_spritesheet3.png);
    width: 75px;
    height: 72px;
    z-index: 1000;
    grid-column: 6;
    grid-row: 2;
    margin-left: 6px;
    margin-top: -2px;

    // edge doesn't like these...
    background-color: black;
    mix-blend-mode: difference;
}

.weather-sprite {
  background: url(../images/weather_spritesheet3.png);
  width: 75px;
  height: 72px;
  z-index: 1000;
  margin: 0 auto;
}

/* weekday container */
/* todo: will relegate this to an object later so we can display multiple */



.weather-container {
    border: 2px solid lime;
    display: grid;
    //grid-template-rows: ;
    text-align: center;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    max-width: 1000px;
    //padding: 25px 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);

    h1 {
        //color: red;
        //font-size: 30vw;
        //font-size: 100%;
    }
    > * {
        border: 1px solid yellow;
    }
}

.degrees {
    display: grid;
    grid-template-columns: auto auto;
    /*border: 2px solid yellow;*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
}

#city {
    //display: grid;
    display: flex;
    border: 1px solid cyan;
    color: white;
    font-family: "earwig-factory", sans-serif;
    text-transform: lowercase;
    font-size: 5rem;
    text-shadow: 0.1rem 0.5rem #000;
    @media (max-width: 640px) {
        font-size: 2.5rem;
        justify-content: center;
        text-align: center;
    }
}

.clock {
    display: flex;
    order: 2;
    border: 1px solid orange;
    @media (max-width: 640px) {
        justify-content: center;
        position: relative;
        margin-top: 20px;
        order: 0;
    }
    /* place all digits into separate grid spaces */
    //border: 2px solid lime;
    #time {
        //position: absolute;

        //margin-left: 0px;
        //margin-top: 230px;
        //display: grid;
        //grid-template-columns: repeat(10 10 3);
        font-family: "earwig-factory", sans-serif;
        color: white;
        //color:red;

    }
}

#header-flexbox{
    transition: zoom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 0.2s;
    @include zoom($headerInitialZoom);
    //position: fixed;
    display: flex;
    //flex: 1;
    flex-direction: column;
    max-width: 600px;
    margin: 20px 20px;
    //border: 5px solid white;
    // remove flexbox gaps between content
    padding: 10px;
    > * {
        margin: -5px;
    }
    margin-bottom: 20px;
    // fade this in for smaller devices?
    background: rgba(0,0,0,0.5);
}
#header-flexbox.bounceIn{
    @include zoom(1);
}

#weekday-container {
    position: relative;
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    //grid-template-columns: 72px 72px;
    //grid-template-rows: 0px 0px 108px 100px;
    border: 2px solid yellow;
    grid-gap: 20px;
    //grid-template-columns: repeat(auto,minmax(200px,1fr));

    grid-template-columns: repeat(auto-fill,minmax(200px,1fr)); /* repeat 4 columns per row */
    justify-content: center;
    //grid-template-columns:repeat(2, 1fr); /* repeat 6 columns per row */
}

.weekday {
    // this is a parent as well as a child
    height: 200px;
    justify-content: center;
    display: grid;
    //grid-gap: 10px;
	border: 1px solid cyan;
	background: rgba(0,0,0,0.5);
    color: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    grid-template-columns: 0px 60px 0px 60px 72px 100px;
    grid-template-rows: 0px 0px 108px 0px;
    margin: 0;
    margin-top: -800px;
    transition: margin 0.3s cubic-bezier(.47,1.64,.41,.8);

    //grid-template-rows: repeat(200px); // test where elements are positioned
    grid-gap: 0px;

}

.weekday.bounceDown{
    //padding-bottom: 100px;
    margin-top: 0px;
    @media (min-width: 800px) {
        // todo: write a loop for transition delay somehow (js?)
        &:nth-child(1){
            margin-top: -80px;
            @include zoom(0.8);
            transition-delay: 0.2s;
        }
        &:nth-child(2){
            margin-top: -30px;
            @include zoom(1);
            transition-delay: 0.2s + $dropTransitionDelay;

        }
        &:nth-child(3){
            margin-top: -50px;
            @include zoom(0.8);
            transition-delay: 0.2s + 2 * $dropTransitionDelay;
        }
        &:nth-child(4){
            margin-top: -100px;
            @include zoom(0.6);
            transition-delay: 0.2s + 3 * $dropTransitionDelay;
        }
    }
}
