@import "variables";
@import "mixins";
@import "fonts";
@import "stacked-sprites";

:root {
    font-family: "P5hatty", sans-serif;
    text-shadow: 0.1rem 0.2rem #000;
}

html {
    background: black;
    @if ($debugMode){
        background: $blue;
    }
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    z-index: $z-background;
}

h1,h2,h3 {
    margin: 0;
    color: white;
    font-family: "earwig-factory", "P5hatty", sans-serif;
    font-size: 3em;
}

h4, h5, h6 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.background-image {
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: $z-background;
    @if ($debugMode){
        display: none;
    }
}

.background-image.screenshake{
    animation: shake 0.2s;
    animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(4px, 4px) rotate(2deg); }
  10% { transform: translate(-3px, -3px) rotate(-2deg); }
  20% { transform: translate(-3px, 1px) rotate(1deg); }
  30% { transform: translate(3px, 3px) rotate(0deg); }
  40% { transform: translate(2px, -2px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-2px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-0deg); }
  80% { transform: translate(-1px, -1px) rotate(0deg); }
  90% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -1px) rotate(0deg); }
}

.loading-overlay{
    // in IE we never make it past this screen, opacity doesnt work?
    opacity: $loadingScreen; // set to 0 while testing to skip loader
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 100000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;
    img {
        display: flex;
        flex: 1;
        position: relative;
        margin: 0 auto;
        @media (max-width: 640px) {
            // apparently doesnt work in IE though, and some phones
            object-fit: cover;
            width: 100%;
            height: 360px;
        }
    }
    #loading-text{
        display: flex;
        margin: 0 auto;
        color: $loadingGray;
    }
}

.loading-overlay.hide{
    opacity: 0;
}

.timeOfDay {
    opacity: 0;
    -webkit-transition: opacity 5s;
    -o-transition: opacity 5s;
    transition: opacity 5s;
}

.timeOfDay.night {
    opacity: 1;
    background: black;
}

#wrapper {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* now start the HUD grid */
.weather-container {
    //position: relative;
    @if ($debugMode){
        border: 2px solid lime;
    }
    display: grid;
    grid-template-columns: 150px 180px;
    grid-template-rows: 200px 0px 80px;
    max-width: 500px;
    @media (max-width: 640px) {
        grid-template-columns: 150px;
        grid-template-rows: 200px 0px 150px;
    }
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    > * {
        @if ($debugMode) {
            border: 1px solid yellow;
        }
    }
    margin-top: -1000px;
    transition: margin 0.3s cubic-bezier(.47,1.64,.41,.8);
}

.mainBounceDown {
    margin-top: -50px;
    transition-delay: 0.5s;
    &:hover{
        @include zoom(1.2);
        transition: all 0.1s;
    }
}

.calendar-grid-container {
    @include zoom(1.2);
    position: relative;
    display: grid;
    @if ($debugMode){
        border: 2px solid red;
    }
    // the 0px is where the kanji symbol used to be, removed to alleviate clutter
    grid-template-columns: 0px 0px 60px 62px 70px;
    grid-template-rows: 0px 0px 108px 0px;
    justify-content: center;
    grid-gap: 0px;
    margin: 20px 0px 100px 0px;
    > * {
        // debug: show element positions
    	//border: 2px solid yellow;
    }
}

#header-flexbox{
    transition: zoom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 0.2s;
    @include zoom($headerInitialZoom);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0px 80px 50px;
    max-width: 600px;
    margin: 20px 20px;
    padding: 10px;
    > * {
        margin: -5px;
    }
    margin-bottom: 20px;
    @if ($debugMode){
        @include zoom(1);
    }
    @media (max-width: 640px) {
    }
}
#header-flexbox.bounceIn{
    @include zoom(1);
}

#header-background {
    grid-row: 1;
    background: url(../images/time-town-background.png);
    width: 427px;
    height: 161px;
    margin-top: 12px;
}

#city {
    @if ($debugMode){
        border: 1px solid cyan;
    }
    color: white;
    font-family: "earwig-factory", sans-serif;
    text-transform: lowercase;
    font-size: 5rem;
    text-shadow: 0.1rem 0.5rem #000;
    transform: rotate(-8deg);
    z-index: 100;
}

#clock {
    @if ($debugMode){
        border: 1px solid orange;
    }
    margin-left: 50px;
    transform: rotate(-8deg);
    z-index: 100;
}

#weekday-container {
    position: relative;
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    @if ($debugMode){
        border: 2px solid yellow;
    }
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr)); /* repeat 4 columns per row */
    justify-content: center;
}

.weekday {
    display: flex;
    flex-direction: column;
    height: 200px;
    margin-top: -1200px; // start way off screen else sometimes some dates get caught
    @if ($debugMode){
        margin-top: 0px;
    }
    transition: margin 0.3s cubic-bezier(.47,1.64,.41,.8);
}

.bounceDown{
    margin-top: 0px;
    @media (min-width: 800px) {
        // todo: write a loop for transition delay somehow (js?)
        &:nth-child(1){
            margin-top: -80px;
            @include zoom(0.8);
            transition-delay: 0.2s;
        }
        &:nth-child(2){
            margin-top: -30px;
            @include zoom(1);
            transition-delay: 0.2s + $dropTransitionDelay;
        }
        &:nth-child(3){
            margin-top: -50px;
            @include zoom(0.8);
            transition-delay: 0.2s + 2 * $dropTransitionDelay;
        }
        &:nth-child(4){
            margin-top: -100px;
            @include zoom(0.6);
            transition-delay: 0.2s + 3 * $dropTransitionDelay;
        }
    }
    &:hover{
        @include zoom(1.1);
        transition: all 0.1s;
    }
}
