// debug
$debugMode: false;
$loadingScreen: 1;
@if ($debugMode) {
    $loadingScreen: 0;
}
$headerInitialZoom: 0;

// z indexes, subject to change
$z-footer: 10000;
$z-top: 1000;
$z-mid: 100;
$z-base: 10;
$z-background: -1000;

// colours
$loadingGray: #9b9b9b;
$navy: #171519;
$blue: #4f4559;

// animation variables
$dropTransitionDelay: 0.05s;
