html {
	background: black;
	height: 100%;
}

body {
	background: black;
	margin: 0;
	padding: 0;
	height: 100%;
}

.background-wrapper {
	margin: 0px;
	padding: 0px;
	position: relative;
}

.background-base {
	background-position: center;
	background-repeat: no-repeat;
	width: 99vw;
	height: 99vh;
	margin: 0px;
	padding: 0px;
	position: absolute;
}

.background-overlay {
	background-position: center;
	background-repeat: no-repeat;
	width: 99vw;
	height: 99vh;
	margin: 0px;
	padding: 0px;
	position: absolute;	
}

.timeOfDay {
	opacity: 0;
	transition: opacity 2s;
}

.timeOfDay.night {
	opacity: 1;
	background: black;
}

.weekday-sprite {
	background: url(images/weekday_sprites.png);
	position: relative;
	display: inline-block;
	background-position: 0px 0px;
	width: 191px;
	height: 74px;
}

.year-sprite {
	background: url(images/currentYear.png);
	position: relative;
	display: inline-block;
	width: 195px;
	height: 105px;
}


.month-number-tens {
	background: url(images/date-numbers-debug.png);
	position: relative;
	display: inline-block;
	background-position: 0px 0px;
	width: 56px;
	height: 100px;
	padding: 0px;
	margin: 0px;
}

.month-number-ones {
	background: url(images/date-numbers-debug.png);
	position: relative;
	display: inline-block;
	background-position: 0px 0px;
	width: 56px;
	height: 100px;
	padding: 0px;
	margin: 0px;
}

.month-kanji{
	background: url(images/monthKanji.png);
	position: relative;
	display: inline-block;
	width: 54px;
	height: 56px;
}


.day-number-tens {
	background: url(images/date-numbers-debug.png);
	position: relative;
	display: inline-block;
	background-position: 0px 0px;
	width: 56px;
	height: 100px;
	padding: 0px;
	margin: 0px;
}

.day-number-ones {
	background: url(images/date-numbers-debug.png);
	position: relative;
	display: inline-block;
	background-position: 0px 0px;
	width: 56px;
	height: 100px;
	padding: 0px;
	margin: 0px;
}