html {
	background: black;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	z-index: -1000;
}

.background-wrapper {
	margin: 0px;
	padding: 0px;
	position: relative;
}

.background-base {
	background-position: center;
	background-repeat: no-repeat;
	width: 99vw;
	height: 99vh;
	margin: 0px;
	padding: 0px;
	position: absolute;
	z-index: -1000;
}

.background-overlay {
	background-position: center;
	background-repeat: no-repeat;
	width: 99vw;
	height: 99vh;
	margin: 0px;
	padding: 0px;
	position: absolute;	
	z-index: -1000;
}

.timeOfDay {
	opacity: 0;
	transition: opacity 2s;
}

.timeOfDay.night {
	opacity: 1;
	background: black;
}

/* now start the HUD grid */
.calendar-grid-container {
	position: relative;
	display: grid;
	border: 10px solid red;
	grid-template-columns: 180px 64px 72px 50px;
	grid-template-rows: repeat(3,0px);
	grid-gap: 0px;
	padding: 0px 0px 100px 0px;
	margin: 20px 0px 100px 0px;
}

.calendar-grid-container > * {
	/*border: 5px solid yellow;*/
}

.month-tens-top {
	background-image: url(images/numbers_spritesheet_2.png);
	background-position: 0px 0px;
	width: 100px;
	height: 150px;
	padding: 0px;
	margin: 0px;
	z-index: 1000;
}

.month-tens-mid {
	background-image: url(images/numbers_spritesheet_2.png);
	background-position: 0px 0px;
	width: 100px;
	height: 150px;
	padding: 0px;
	margin: 0px;
	z-index: 100;
	grid-column: 2;
	grid-row: 2;
}

.month-tens-base {
	background: url(images/numbers_spritesheet_2.png);
	background-position: 0px 0px;
	width: 100px;
	height: 150px;
	padding: 0px;
	margin: 0px;
	z-index: 10;
	grid-column: 2;
	grid-row: 3;
}

.month-ones-top {
	background: url(images/numbers_spritesheet_2.png);
	background-position: 0px 0px;
	width: 100px;
	height: 150px;
	padding: 0px;
	margin: 0px;
	z-index: 1000;
}
.month-ones-mid {
	background: url(images/numbers_spritesheet_2.png);
	background-position: 0px 0px;
	width: 100px;
	height: 150px;
	padding: 0px;
	margin: 0px;
	z-index: 100;
	grid-column: 3;
	grid-row: 2;
}
.month-ones-base {
	background: url(images/numbers_spritesheet_2.png);
	background-position: 0px 0px;
	width: 100px;
	height: 150px;
	padding: 0px;
	margin: 0px;
	z-index: 10;
	grid-column: 3;
	grid-row: 3;
}

.month-kanji{
	background: url(images/monthKanji.png);
	width: 54px;
	height: 56px;
	z-index: 100;
}

.year-sprite {
	background: url(images/currentYear.png);
	width: 195px;
	height: 105px;
}
.year-sprite-mid {

}
.year-sprite-base {

}


/* weekday container */
/* todo: will relegate this to an object later so we can display multiple */
.weekday-container{
	position: relative;
	display:grid;
	grid-template-columns: 72px 72px;
	grid-template-rows: 0px 0px 108px 100px;
	border: 5px solid yellow;
}

.date-tens-top {
	background: url(images/numbers_spritesheet_2.png);
	background-position: 0px 0px;
	width: 100px;
	height: 150px;
	padding: 0px;
	margin: 0px;
	z-index: 1000;
}


.date-tens-mid {
	background: url(images/numbers_spritesheet_2.png);
	background-position: 0px 0px;
	width: 100px;
	height: 150px;
	padding: 0px;
	margin: 0px;
	z-index: 100;
	grid-column: 1;
	grid-row: 2;
}

.date-tens-base {
	background: url(images/numbers_spritesheet_2.png);
	background-position: 0px 0px;
	width: 100px;
	height: 150px;
	padding: 0px;
	margin: 0px;
	z-index: 10;
	grid-column: 1;
	grid-row: 3;
}

.date-ones-top {
	background: url(images/numbers_spritesheet_2.png);
	background-position: 0px 0px;
	width: 100px;
	height: 150px;
	padding: 0px;
	margin: 0px;
	z-index: 1000;

}

.date-ones-mid {
	background: url(images/numbers_spritesheet_2.png);
	background-position: 0px 0px;
	width: 100px;
	height: 150px;
	padding: 0px;
	margin: 0px;
	z-index: 100;
	grid-column: 2;
	grid-row: 2;
}

.date-ones-base {
	background: url(images/numbers_spritesheet_2.png);
	background-position: 0px 0px;
	width: 100px;
	height: 150px;
	padding: 0px;
	margin: 0px;
	z-index: 10;
	grid-column: 2;
	grid-row: 3;
}

.weekday-sprite {
	background: url(images/weekday_sprites.png);
	background-position: 0px 0px;
	width: 191px;
	height: 74px;
	grid-column: 1;
	grid-row: 4;
	z-index: 1000;
}